# macOS
.DS_Store

# Windows
Thumbs.db

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# env files
.env
.env.local

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Eclipse STS
*.classpath
*.project
.settings/
.springBeans
.factorypath

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# backend target
backend/rentigo-backend/target/
backend/rentigo-backend/.mvn/wrapper/maven-wrapper.jar

# backend build
backend/rentigo-backend/build/

# allow src build dirs
!backend/rentigo-backend/**/src/main/**/target/
!backend/rentigo-backend/**/src/test/**/target/
!backend/rentigo-backend/**/src/main/**/build/
!backend/rentigo-backend/**/src/test/**/build/

# frontend deps
frontend/rentigo-frontend/node_modules/

# frontend build
frontend/rentigo-frontend/dist/
frontend/rentigo-frontend/dist-ssr/
frontend/rentigo-frontend/*.local
/backend/rentigo-backend/src/main/resources/application.properties
