spring.application.name=rentigo-backend
spring.datasource.url=jdbc:mysql://localhost:3306/rentigodb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
spring.datasource.username=rentigo
spring.datasource.password=YourStrongPassword
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
